version: '3.8'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: university
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"

  app:
    build: .
    ports:
      - "9090:8080"
    depends_on:
      - postgres
